<nav class="navbar navbar-light" id="navtop">
  <div class="container-fluid" id="headertext">
    <span class="navbar-brand mb-0 h1"> Artist Search</span>
  </div>
</nav>


<div class="container-xl" id="thecontainer1">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <form (submit)="startSearch(input_value.value)">
          <input #input_value class="form-control" id="inputbox" type="text" placeholder="Please enter an artist name." (input)="inputCheck($event)">
      </form>
      <div class="text-center" id="buttons">
        <button type="button" class="btn btn-primary" id="searchbutton" [disabled]="isEmpty" (click)="startSearch(input_value.value)"> Search
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="showSpinner1"></span>
        </button>
        <button type="button" class="btn btn-secondary" (click)="clear()"> Clear</button>
      </div>

      <app-results #results></app-results>
  
    </div>
  </div>
</div>



<nav class="navbar fixed-bottom navbar-light" id="navbottom">
  <div class="container-fluid d-flex justify-content-center" id="footertext">
    <a class="navbar-brand" href="https://www.artsy.net/"> Powered by 
      <img src="../assets/artsy_logo.svg" class="d-inline-block" alt="" id="footerlogo">
      Artsy
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
